#Navbar {
    display: flex;
    align-items: center;
    width: 90%;
}

#Logo {
    height: 2rem;
    width: 2rem;
    background: linear-gradient(90deg, rgba(253, 41, 138, 1) 0%, rgba(253, 86, 73, 0.9063958347010679) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    font-family: urban-DemiBold, sans-serif;
}

#Logo a {
    color: #fff;
    text-decoration: none;
}

.nav-links {
    width: 24%;
    display: flex;
    align-items: center;
    gap: 4%;
}

.nav-links a {
    font-family: urban-Medium, sans-serif;
    font-size: 0.9rem;
    color: #9b9b9f;
    text-decoration: none;
    padding-bottom: 2%;
}

.nav-links a:hover {
    color: #F379A5;
}

.nav-links a.active {
    color: #F379A5;
    border-bottom: 3px solid #F379A5;
}

#hamburger {
    display: none;
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    #Navbar {
        display: flex;
        align-items: center;
        margin: 4% 0;
    }

    #hamburger svg {
        font-size: 1.5rem;
    }

    .nav-links-show {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        width: 40%;
        height: 100%;
        position: absolute;
        top: 5%;
        right: 0%;
        padding: 0;
        background: #F379A5;
        margin-top: 6%;
        z-index: 99;
        padding: 5%;
    }

    .nav-links-show a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 3%;
        font-family: urban-Medium, sans-serif;
    }
}
